/*
	Our custom settings this will contain all the settings that aren't included in the default foundation settings file
*/

//Custom colors
$bordergrey                 : #d5d5d5;
$body-font-color            : #666666;
$foot-bg-color              : #4c4c4c;
//Custom sizes font or otherwise.
$font-weight-thin           : 100;
$font-weight-extra-light    : 200;
$font-weight-light          : 300;
$font-weight-normal         : 400;
$font-weight-medium         : 500;
$font-weight-semi-bold      : 600;
$font-weight-bold           : 700;
$font-weight-extra-bold     : 800;
$font-weight-ultra-bold     : 900;
