<div class="row">
  <div class="large-12 columns">
    <h2 class="text-center">Welcome to YetiScripts</h2>
  </div>
</div>
<div class="row">
  <div class="large-3 small-12 columns">
    <button class="expand" ng-click="callscript('btnone')">Hello World</button>
  </div>
  <div class="large-3 small-12 columns">
    <button class="expand" ng-click="callscript('btntwo')">Call script two</button>
  </div>
  <div class="large-3 small-12 columns">
    <button class="expand" ng-click="callscript('stop_spigot')">Stop Spigot</button>
    <p>[[stop_spigot_info]]</p>
  </div>
  <div class="large-3 small-12 columns">
    <button class="expand" ng-click="callscript('run_spigot')">Run Spigot</button>
    <p>[[run_spigot_info]]</p>
  </div>
</div>
